<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <meta name="viewport" content="width=device-width,initial scale=1"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <!--navbar-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">
                    <img src="#" />
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class=" nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            اتصل بنا
                            <i class="glyphicon glyphicon-envelope"></i>
                        </a>
                    </li>
                  
                    <li>
                        <a href="#">
                            العروض
                            <i class="glyphicon glyphicon-folder-open"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            حول الشركة
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            الرئيسية
                            <i class="glyphicon glyphicon-home"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="#">
                              تسجيل الدخول    
                            <i class="glyphicon glyphicon-lock"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            عميل جديد
                            <i class="glyphicon glyphicon-user"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    @RenderBody()
    <!--foter-->
    <footer class="navbar navbar-fixed-bottom myfooter ">
        <div class="container ">
            <div class="row">
                <div class="col-md-4 navbar navbar-right">
                    <h3>         من نحن؟
                    <i class="glyphicon glyphicon-question-sign"></i>
                    </h3>
                    <p>
                        شركة الهلال الذهبي وظيفتها هى تسهيل عملية النقل لمنقولاتكم بدون عناء عليكم ،ولذلك تقدم شركتنا تسهيلاً ، لعملائنا الكرام خدمة النقل الشامل والتى تتضمن فك الاثاث ،وتعبئته،وتغليفه، وتنضيفه،وتركيبه ، وذلك تسهيلاً منا عليكم ،كما تقدم شركتنا أيضاً خدمة اخرى وهى الخدمة الفردية والتى تتضمن خدمة النقل فقط بصوره آمنه وفى اسرع وقت ،نترك لكم الإختيار فى تقديم ما هو أفضل لكم وما يناسب إحتياجاتكم سواء خدمة النقل الشامل أو النقل الفردى ويتم تحديد أسعارنا نظراً للخدمات المطلوبة وذلك تسهيلاً على عملائنا الكرام.

                    </p>
                </div>

                <div class="col-md-4">
                    <h3>تواصل معنا  <i class="glyphicon glyphicon-envelope"></i>   </h3>
                    <ul>
                        <li><a href="#">صفحتنا على الفيس بوك</a></li>
                        <li><a href="#">تابعنا على تويتر</a></li>
                        <li><a href="#">شاهدنا على اليوتيوب</a></li>
                        <li><a href="#">اترك لنا رسالة</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                     <h3>    روابط هامة
                    <i class="glyphicon glyphicon-globe"></i>
                    </h3>
                    <ul>
                        <li><a href="#">نقل اساس خارج الريا</a></li>
                        <li><a href="#">تنظيف وتعقيم المنازل</a></li>
                    </ul>
                </div>
            </div>
            <div class="subfooter">
                <span>جميع الحقوق محفوظة لموقع الهلال الذهبي 2019</span>
            </div>
        </div>

    </footer>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
